/* Start Font */
@import url('https://font.googleapis.com/css?family=Roboto');
/* End Font */

/* Start Body */
body {
    /* background-color: aqua; */
    background-image: url('../images/batik10.jpg');
    background-repeat: repeat;
    color: #24292e;
    font-family: Roboto, Helvetica, Arial, sans-serif
    font-size: 16px;
    line-height: 1.5em;
    margin: 3;
    padding: 3;
}
/* End Body */

/* Start Debug */
.bg-blue {
    background-color: #adff2f;
}

.bg-red {
    background-color: rgb(33, 247, 236);
}
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}
/* End Container */

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo */

/* Start Anchor / Hyperlink */
a:link
a:visited {
    color: #000000
    text-decoration: none;
}
a:hover
a:active {
    color: #333333
    text-decoration: underline;
}
/* Start Anchor / Hyperlink */

/* Start Menu Primer */
.menu-primer ul {
    background-color: #008000;
    border-radius: 4px;
    box-shadow:
       0 3px 5px -1px rgba(0,0,0,.2)
       0 6px 18px 0 rgba(0,0,0,.14)
       0 1px 18px 0 rgba(0,0,0,.12)
}

.menu-primer li {
    border-right: 1px solid #d1d5da
    display: in-line block
}

.menu-primer a {
    color: #ffffff
    font-size: 12px
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: #f7f7f7
    color: #000000
    text-decoration: none;
}

.menu-primer .active {
    background-color: #ffffff
    color: #333333;
    text-decoration: none;
}
/* End Menu Primer */

/* Start Heading */
h1, h2, h3, h4, h5, h6 {
	font-weight:400;
	letter spacing: 1px;
}
h1{
	font-size: 28px;
}
h2{
	font-size: 24px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 13px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
	background-color: #f6f8fa;
	border: 1px solid #eaecef;
	border-radius: 4px;
	padding: 20px 0;
}
.jumbotron h1{
	font-size: 32px;
	padding: 0 20px;
}
.jumbotron h3{
	font-size: 20px;
	padding: 0 20px;
}
/* End Jumbotron */

/* Start Main */
.main-home-one {

}
.main-home-two {
	float: right;
	width: 49.5%;
}
.main-home-one .box-isi, 
.main-home-two .box-isi {
	height: 148px;
}
/* End Main */

/* Start Box */
.box-heading {
	background-color: #f6f8fa;
	border: 1px solid #d1d5da;
	border-radius: 3px 3px 0 0;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
}
.box-heading h1 {
	font-size: 14px;
	margin: 0;
}

.box-isi {
	background-color: #ffffff;
	border: 1px solid #eaecef;
	border-top: 0;
	margin: 0;
	padding: 1px 20px;
}
/* End Box */

/* Start Testimonial */
.testimonial {
  border-left: 4px solid #dfe2e5;
	margin-left: 30px;
	padding-left: 20px;
}
/* End Testimonial */

/* Start Menu Sekunder*/
.menu-sekunder {
	background-color: #f6f8fa;
	border-botton: 1px solid #eaecef;
	border-top: 1px solid #eaecef;
	overflow: auto;
	padding: 10px 0;
}
.menu-sekunder h4 {
	font-size: 14px;
	margin: 0 auto;
	text-transform: uppercase;
}
.menu-sekunder ul {
	padding: 0;
}
.menu-sekunder li {
	list-style: disc;
}

.menu-sekunder li a,
.menu-sekunder p {
	font-size: 15px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
	float: left;
}
.menu-sekunder-one {
	width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three {
	width: 30%
}
.menu-sekunder li img{
	vertical-align: middle;
}
/* End Menu Sekunder*/

/* Start Copyright */
.copyright p {
  font-size: 15px;
}
/* End Copyright */

/* Start Effect */
@import url(https://fonts.googleapis.com/css?family=Raleway);
.snip1584 {
  font-family: 'Raleway', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 30%;
  max-width: 30%;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}
.snip1584 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1584:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: '';
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.snip1584 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}
.snip1584 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.snip1584 h3,
.snip1584 h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}
.snip1584 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}
.snip1584 h5 {
  font-weight: normal;
  background-color: #ae895d;
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1584:hover:before,
.snip1584.hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584:hover h3,
.snip1584.hover h3,
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.snip1584:hover h3,
.snip1584.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* Start Effect */